Añadir comentario: <p>

  <form action="/quizes/<%=quizId%>/comments/" method="post">
    <input type="text" id="comment" name="comment[texto]" placeholder="Inserte comentario"/><p>
    <button type="submit">Enviar</button>
  </form>
